/* common code - start */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    color: white;
}

body {
    background-color: rgb(22, 22, 22);
    position: relative;
    width: 100%;
    scrollbar-width: thin;
}

a {
    text-decoration: none;
}

/* scrollbar - start */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #2f2525;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 10px;
}

/* scrollbar - end */

/* nav bar - start */
header {
    position: fixed;
    width: 100%;
}

.base {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    padding-top: 40px;
    padding-bottom: 40px;
    height: 108px;
    border-bottom: 1px solid;
}

.logo img {
    height: 23px;
}

.head-nav {
    display: flex;
    gap: 60px;
    align-items: center;
}

.head-nav a {
    font-size: 15px;
    color: white;
}

.head-nav a:hover {
    color: red;
}

.base .num {
    font-size: 15px;
}

.social {
    align-items: center;
    position: absolute;
    left: 50px;
    top: 0px;
    height: 100vh;
}

.social .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* .icon::before {
    content: "";
    display: block;
    width: 120px;
    height: 2px;
    background: #000;
    left: 0;
    top: 50%;
    position: absolute;
}

.icon::after {
    content: "";
    display: block;
    width: 120px;
    height: 2px;
    background: #000;
    right: 0;
    top: 50%;
    position: absolute;
} */

.social .icon i {
    font-size: 25px;
    color: white;
}

.social .icon i:hover {
    color: red;
}

.copyRight-main {
    position: relative;
}

.copyRight {
    position: absolute;
    top: 580px;
    font-size: 15px;
}

/* nav bar - media - start */
/* @media only screen and (max-width: 1500px) {
    .base {
        display: none;
    }
} */


/* responsive nav bar - start */
.res-nav {
    height: 100vh;
    width: 500px;
    position: absolute;
    background-color: black;
    right: 0px;
    padding: 40px 55px;
}

.res-nav-inner {
    height: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rn-language {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 95px;
}

.lng a {
    color: red;
}

.lng a:nth-last-child(-n+2) {
    margin-left: 20px;
}

.cancel img {
    height: 28px;
    width: 28px;
}

.rs-menu {
    height: 100%;
    overflow-y: scroll;
}

.rs-menu li {
    list-style-type: none;
    padding: 10px;
}

.rs-menu li a {
    padding: 5px 0;
    font-size: 30px;
    font-weight: 400;
}

.rs-link {
    padding-top: 95px;
}

.rsl-social {
    display: flex;
    gap: 15px;
    margin-bottom: 50px;
}

.rsl-social i {
    font-size: 25px;
}

.rsl-copyright {
    font-size: 15px;
}

/* responsive nav bar - end */




/* nav bar - media - end */

/* nav bar - end */
/* common code - end */

/* home - start */
.home {
    background-image: url("assets/img/home.jpg");
    width: 100%;
    height: 881px;
    background-color: #2f2525;
    padding: 120px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 1px dashed red;
}

.home-img {
    height: 100%;
    width: 100%;
}

.home-content-main {
    width: 1110px;
    height: 641px;
    padding: 0pc 30px;
    background: transparent;
}

.home-content-inner {
    height: 641px;
    width: 450px;
    padding: 0px 15px;
}

.play-out {
    border: 2px solid white;
    height: 110px;
    width: 110px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 160px;
    margin-bottom: 100px;
}

.play-out i {
    font-size: 25px;
}

.hc-detail p {
    font-size: 15px;
    line-height: 27px;
}

.hc-name h1 {
    font-size: 120px;
}

.hc-name h1 span {
    color: red;
}

@media only screen and (max-width: 1200px) {
    .home-content-main {
        width: 953px;
        height: 641px;
        padding: 0px 30px;
    }

    .home-content-inner {
        width: 384px;
        padding: 0px 15px;
    }
}



@media only screen and (max-width: 600px) {
    #home {
        background-image: url(../img/home-2.jpg);
        background-position: center;
        align-items: center;
        background-repeat: no-repeat;
    }

    .home {
        height: 100vh;
        padding: 120px 0px;
    }

    .home-content-main {
        width: 407px;
        height: 641px;
        padding: 0px 30px;
    }

    .home-content-inner {
        width: 374px;
        padding: 0px 15px;
    }
}

/* home - end */

/* about - start */
.about {
    width: 100%;
    height: 728px;
    padding: 120px;
}

.about-main {
    padding: 0px 30px;
    height: 488px;
    /* width: 1110px; */
    width: auto;
    display: flex;
}

.am-content {
    display: flex;
}

.am-content>div {
    height: 100%;
    width: 50%;
}

.about-exp-out {
    width: 540px;
    height: 488px;
    padding: 0px 15px;
}

.about-exp {
    width: 334px;
    height: 474px;
    padding: 70px 75px 50px 50px;
    border-top: 1px solid white !important;
    border-left: 1px solid white !important;
    border-bottom: 1px solid white !important;
}

.about-exp-num {
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-exp-num>h1 {
    font-size: 170px;
    font-weight: 400;
}

.about-exp-txt {
    height: 40%;
    display: flex;
    flex-direction: column;
    font-size: 25px;
    justify-content: space-around;
    align-items: end;
}

.about-exp-txt h5 {
    font-weight: 400;
}

.about-exp-topic {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 488px;
    width: 540px;
    padding: 0px 15px;
}

.aet-head h3 {
    font-size: 50px;
    font-weight: 500;
    margin-top: 20px;
}

.aet-contect {
    font-size: 15px;
    width: 75%;
}

.about-range-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 53px;
}

.range-box>h5 {
    margin-bottom: 15px;
}

.range {
    padding: 3px 0px;
    background-color: red;
}

.r1 {
    width: 70%;
}

.r2 {
    width: 85%;
}

.r3 {
    width: 90%;
}

@media only screen and (max-width: 1200px) {
    .about {
        width: auto;
        height: auto;
    }

    .about-main {
        display: block;
        width: auto;
        height: auto;
    }

    .about-exp-out {
        width: auto;
        margin-bottom: 100px;
    }

    .about-exp-topic {
        width: auto;
    }
}

@media only screen and (max-width: 600px) {
    .about {
        padding: 120px 0px;
    }

    .about-main {
        width: 377px;
    }

    .about-exp-topic {
        /* width: auto; */
        width: 377px;
        padding: 0px 15px;
    }
}

/* about - end */

/* projects - start */
.projects {
    width: 100%;
    height: 670px;
    border: 2px dashed red;
    background-color: chartreuse;
}

/* projects - end */

/* education - start */
.education {
    width: 100%;
    height: 730px;
}

/* education - end */

/* testimonials - start */
.testimonials {
    width: 100%;
    height: min-content;
    /* height: 710px; */
    padding: 120px;
    border: 1px dashed white;
    background-image: url(../img/testimonials.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.tm-main {
    height: min-content;
    height: 100%;
    width: 100%;
    border: 1px dashed red;
    display: flex;
}

.tm-main>div {
    width: 50%;
    height: 100%;
    border: 2px dashed;
}

.tm-con {
    width: 540px;
    height: 560px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 40px;
}

.tmc-img {
    margin-bottom: 210px;
}

.tmc-img img {
    border: 1px dashed;
    width: 100px;
    height: 100px;
}

.tmc-head h3 {
    font-size: 50px;
    font-weight: 400;
    line-height: 67px;
}

.tm-carousel {
    height: 557px !important;
    /* width: 100%; */
    border: 1px dashed yellow;
}

.tm-carousel-inner {
    border: 1px dashed green;
    background-color: blue;
    height: 364px;
    width: 360px;
    padding: 0px 15px;
    margin-left: 180px;
    margin-top: 197px;
}

@media only screen and (max-width: 1200px) {
    .tm-main {
        display: block;
    }

    .tm-main>div {
        width: 100%;
    }

    .tm-carousel {
        height: 500px;
        width: 460px;
        /* background: white; */
    }

    .tm-carousel-inner {
        background-color: blue;
        height: 500px;
        width: 460px;
        padding: 0px 15px;
        margin-left: 0px;
        margin-top: 0px;
    }
}

@media only screen and (max-width: 600px) {

    .testimonials {
        padding: 120px 0px;

    }

    .tm-main {
        display: block;
        padding: 0px 30px;
    }

    .tm-con {
        padding: 0px;
    }

    .tm-main>div {
        width: 100%;
    }

    .tm-carousel {
        margin-top: 70px;
        height: fit-content !important;
        width: 460px;
        /* background: white; */

    }

    .tm-carousel-inner {
        background-color: blue;
        /* height: 500px;
        width: 460px; */
        width: 100%;
        height: fit-content;
        padding: 0px 15px;
        margin-left: 0px;
        margin-top: 0px;
    }

}

/* testimonials - end */

/* partners - start */
.partners {
    width: 100%;
    /* height: 650px; */
    padding: 120px;
}

.partners-main {
    border: 2px dashed black;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 0px 30px;
}



.partners-heding h3 {
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 100px;
}

.partners-logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.p-logo {
    border: 1px dashed white;
    height: 68px;
    /* width: 256px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.partners-logo .p-logo:nth-child(-n+4) {
    margin-bottom: 170px;
}

@media only screen and (max-width: 600px) {
    .partners {
        padding: 120px 0px;
    }

    .partners-main {
        padding: 0px 30px;
    }

    .partners-logo {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 70px;
    }

    .partners-logo .p-logo:nth-child(-n+4) {
        margin-bottom: 0px;
    }
}

/* partners - end */

/* blog - start */
.blog {
    width: 100%;
    height: auto;
    padding: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog-main {
    width: 100%;
    height: 100%;
}

.blog-head {}

.blog-head h3 {
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 100px;
}

.blog-con-main {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: flex-end;
}

.blog-card {
    width: 360px;
    height: 495px;
    margin: 0px 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-width: 1200px) {
    .blog-con-main {
        display: block;
        /* flex-direction: column; */
    }

    .blog-card {
        width: 100%;
        height: 55vh;
        margin: 0px 0px 50px 0px;
    }
}

@media only screen and (max-width: 600px) {
    .blog {
        padding: 100px 30px;
    }



}

/* blog -  end*/

/* contact - start */

.contact {
    width: 100%;
    height: 721px;
    padding: 120px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.contact-main {
    height: 100%;
    width: 100%;
    padding: 0px 30px;
    display: flex;
}

.contact-address {
    width: 360px;
    height: 481px;
    display: flex;
    margin: 0px 15px;
    padding-bottom: 30px;
    flex-direction: column;
    justify-content: space-between;
}

.cnt-head h3 {
    font-size: 50px;
    font-weight: 400;
}

.cnt-quote p {
    font-size: 15px;
    margin-bottom: 20px;
}

.cnt-address,
.cnt-number {
    font-size: 32px;
}

.cnt-email {
    margin-bottom: 20px;
}

.cnt-email span {
    font-size: 15px;
}

.contact-form-main {
    height: 100%;
    width: auto;
    padding: 0px 15px;
    margin-left: 180px;
}

.contact-form-inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-div {
    height: 100%;
    margin-top: 20px;
}

.form-head>* {
    font-size: 28px;
    font-weight: normal;
}

.form-head a {
    color: red;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    align-items: flex-start;
}

.form>* {
    border: none;
    background: transparent;
    border-bottom: 1px solid white;
}

.form>textarea {
    width: 100%;
}

.form>input,
.form>textarea {
    width: 100%;
    padding: 16px;
    margin-top: 30px;
}

/* .form>input:first-child {
} */

.form>*:hover {
    outline: none;
}

.form button {
    padding: 10px 45px;
    border: none;
    background-color: red;
    font-size: 12px;
    margin-top: 30px;
}

@media only screen and (max-width: 1200px) {
    .contact {
        height: auto;
    }

    .contact-main {
        display: block;
        height: auto;
    }

    .contact-form-main {
        margin-left: 0px;
        padding: 0px;
        margin: 0px;
        height: auto;
        /* width: 100px; */
    }

    .contact-form-inner {
        height: 400px;
    }

    .contact-form-inner .contact {
        height: auto;
    }
}

@media only screen and (max-width: 600px) {
    .contact {
        padding: 120px 0px;
        padding-bottom: 200px;
        height: auto;
    }

    .contact-address {
        width: auto;
    }
}


/* contact - end */

/* end home page */